nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c3e50; /* Darker shade for better contrast */
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4CAF50;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: #181818;
    color: #e0e0e0;
    line-height: 1.6;
}


.header {
    background: #202020; /* Subtle dark background */
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 4px solid #2c3e50; /* A pop of color */
}

/* Card-like design with hover effect for sections and solutions */
.section, .solution {
    background-color: #242424;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.section:hover, .solution:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


h1, h2, h3 {
    color: #ffffff;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #2c3e50; /* Adding a subtle line */
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

ul li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #2c3e50; /* A pop of color */
    border-radius: 50%;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        padding: 30px 15px;
    }

    .section, .solution {
        margin: 15px;
        padding: 15px;
    }
}




