nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2c3e50; /* Darker shade for better contrast */
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4CAF50;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    top-padding: 60px;
    padding: 0; /* Adjust for the fixed navbar */
    background-color: #2d2d2d; /* Dark grey background */
    color: #cccccc; /* Light grey text for readability */
    line-height: 1.6;
}


.header {
    background: #424242; /* Darker grey */
    color: #f0f0f0; /* Brighter text for contrast */
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}


.section, .solution {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #363636; /* Slightly lighter grey for the section background */
    border: 1px solid #484848; /* Border for definition */
    border-radius: 5px; /* Softer corners */
    transition: all 0.3s ease;
}

.section:hover, .solution:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover for a "lift" effect */
}

.solution {
    background-color: #3e3e3e; /* Distinct yet subtle background for solutions */
    border-left: 4px solid #5c5c5c; /* Grey accent */
}


h1, h2, h3 {
    color: #ffffff; /* White for headers to stand out */
}

h2 {
    border-bottom: 2px solid #5c5c5c; /* Grey accent for titles */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul li {
    padding: 8px 0;
    border-bottom: 1px solid #484848; /* Subtle separators for list items */
    margin-left: 20px;
}

ul li:before {
    content: '▹';
    color: #007bff; /* Adding a pop of color for interest */
    font-size: 12px; /* Slightly larger icon */
    margin-right: 10px;
    position: relative;
    top: -1px;
}

ul li:last-child {
    border-bottom: none;
}


@media (max-width: 768px) {
    .section, .solution {
        margin: 10px;
        padding: 15px;
    }
}



